@font-face {
    font-family: "Ubuntu";
    src: url("/resources/Ubuntu-Regular.ttf");
}

* {
    /* debug only */
    /* outline: 1px solid red; */
    margin:0;
    transition:all ease 0.15s;

    font-family: 'Ubuntu', sans-serif;
    
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 200,
  'opsz' 48
}
.material-icons {
    font-family: 'Material Icons';
    font-variation-settings:
    'FILL' 0,
    'wght' 800,
    'GRAD' 200,
    'opsz' 48
  }


a{
    text-decoration: none;
    color:rgb(101, 122, 180);
}
a:visited{
    color:rgb(101, 122, 180);
}
a:hover{
    color:rgb(180, 159, 101);
}

input, textarea {
    outline:none;
    padding: 2px;
    border-radius: 2px;
    border:none;
}


body {
    margin: 0;
    padding:0;
    min-height: 100vh;
    background-color: #d1d1d1;

}


.container {
    width:70%;
    height: fit-content;
    margin: auto;
    min-width: 500px;
}

.content_wrapper{
    min-height:95vh;
    width: 100%;
}

.break{
    height: 5px;
    margin:20px 0px 20px 0px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
